/* GLOBAL  */

*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.box{
  width:100%;
  height: 400px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

/* BOX LEFT  */

.box .left{
  height: 100%;
  width: 80%;
  background-color: red;
}

.box .left .image{
  height: 100%;
  position: relative;
}

.box .left .image img {
  height: 100%;
  width: 100%;
}

.box .left .image .text {
 position: absolute;
 bottom: 0;
 color: white;
 text-align: right;
 right: 0;
 margin: 10px;
}

/* BOX RIGHT  */

.box .right{
  height: 100%;
  width: 20%;
  background-color: green;
  position: relative;
  text-align: center;
}

.box .right .image{
  width: 100%;
  height: 20%;
  border: 1px solid black;
  background-color: yellow;
  position: relative;
}

.box .right .image .off{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  z-index: 500;
  top: 0;
}

.box .right .image img{
  width: 100%;
  height: 100%;
}

.box .right .uarr{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255,.5);
  margin: 10px 0;
  border-radius: 50%;
  line-height: 40px;
  font-size: 25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 999;
}

.box .right .uarr:hover{
  background-color: white;
}

.box .right .darr{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255,.5);
  margin: 10px 0;
  border-radius: 50%;
  line-height: 40px;
  font-size: 25px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  cursor: pointer;
}

.box .right .darr:hover{
  background-color: white;
}

